html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
  background-color: #f5f3f3;
}
.conteiner
{
  flex-wrap: wrap;
}
.card
{
  width: 30%;
  overflow: hidden;
  float: left;
  margin: 20px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  text-align: center;
  cursor: pointer;
  
}
.card h3
{
  text-align: center;
}
.card img
{
  width: 70%;
  margin-left: 15%;
}

.imgPerfil
{
  width: 100px;
  height: 100px;
  border-radius: 60px;
  display: flex;
}

.pDescripcion
{
  word-wrap: break-word;
  justify-content: center;
}

.TituloCategoria
{
  text-align: center;
}

.tituloCategoria
{
  text-align: center;
  width: 250px;
}

.ContainerCategoria
{
  flex-wrap: wrap;
}

.cardc{
  width: 33%;
  padding: 10px;
}

.CardCategoria {
  overflow: hidden;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  text-align: center;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Añadimos transform para la animación de elevación */
  background-color: white;
  border-radius: 15px;
  height: 100%;
  display: flex; /* Utilizamos flexbox */
  flex-direction: column; /* Los elementos hijos se alinearán en columna */
  justify-content: space-between; /* Distribuye los elementos a lo largo del eje principal con espacio entre ellos */
}

.CardCategoria:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4); /* Aumentamos la sombra para simular elevación */
  transform: translateY(-5px); /* Elevamos la tarjeta 5px hacia arriba */
}

.containerConfig
{
  justify-content: center;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  text-align: center;
  width: auto;
  height: auto;
  padding: 5px;
  border-radius: 25px;
  background-color: #6bc1b1;
}
.containerConfig .imgPerfil
{
  position: absolute;
  width: 16%;
  height: 20%;
  border-radius: 60%;
  display: flex; 
  margin-top: 1%;
  margin-left: 2%;
}
.containerConfig  .editar
{
  position: absolute;
  width: 3%;
  height: 4%;
  display: flex;
  margin-left: 22%;
  margin-bottom: 100%;
  cursor: pointer;
}
.containerConfig .botonCambio
{
  position: relative;
  margin-top: 100%;
}
.botonB p{
  margin: 0px;
  padding: 0px;
}
.botonB
{
  display: flex;
  width: auto;
  background-color: #ff310d; /* Color de fondo del botón */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  padding: 5px 10px; /* Espaciado interno */
  font-size: 16px; /* Tamaño de fuente */
  cursor: pointer; /* Cursor al pasar */
  border-radius: 20px; /* Bordes redondeados */
  transition: background-color 0.3s ease; /* Transición suave */
}
.botonB:hover {
  background-color: #cc3217; /* Nuevo color de fondo */
}
.boton
{
  width: 100%;
  background-color: #6bc1b1; /* Color de fondo del botón */
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  padding: 5px 10px; /* Espaciado interno */
  font-size: 16px; /* Tamaño de fuente */
  cursor: pointer; /* Cursor al pasar */
  border-radius: 20px; /* Bordes redondeados */
  transition: background-color 0.3s ease; /* Transición suave */
  margin-bottom: 10px;
}
.boton:hover {
  background-color: #61afa1;
}
.Posteo
{
  margin-top: 15px;
  justify-content: space-around;
  display: flex;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  text-align: center;
  overflow: hidden;
  border-radius: 15px;
  background-color: #d1efec;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}
.Posteo .TopBar
{
  height: auto;
  width: 70%;
  margin-top: 10px;
}
.Posteo h4{
  width: auto;
}
.Posteo .Descripcion{
  border-radius: 10px;
  width: 75%;
  text-align: left;
}
.Posteo:hover{
  background-color: #c9e6e3;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.4);
  transform: translateY(-3px);
}
.Comentario{
  margin-top:10px;
  padding: 10px;
  border-radius: 15px;
  background-color:#d1efec;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  width: 100%;
  height: auto;
}
.Comentario p{
  margin: 0px;
  padding: 0px;
}
.flexer{
  display: flex;
  flex-wrap: wrap;
}
.centrar{
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
a{
  text-decoration: none;
  color: inherit;
}
.formu{
  width: 100%;
  justify-content: center;
  display: flex;
}
.divPerfilInt{
  display: flex;
  justify-content: space-between;
}
.div{
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.descr{
  text-align: center;
  width: 80%;
}
.logout{
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.with{
  width: 100%;
}
.informacion{
  display: flex;
  justify-content: space-between;
}
.cabeza{
  margin-bottom: 10px;
}
.informacionC{
  display: flex;
  justify-content: space-between;
}
.cuerpo{
  width: 90%;
}
.titulo{
  color: rgb(255, 255, 255);
}
.formulario {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 22px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: auto;
  text-align: center;
}

.formulario h3 {
  color: rgb(54, 54, 54);
  margin-bottom: 20px;
}

.formulario input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.formulario button {
  width: 100%;
  background-color: #6bc1b1;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formulario button:hover {
  background-color: #55a89f;
}

.error{
  padding-top: 5px;
  margin: 5px;
}

.NoAccount{
  color: #007bff;
}

.recuadro{
  background-color: white;
  width: 100%;
  height: auto;
  padding: 20px;
  border-radius: 20Px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.justify{
  display: flex;
  justify-content: space-around;
}
.border{
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}
.wboton{
  width: 100%;
}
.LowBar{
  width: 20%;
  margin-top: 10px;
}
.title{
  text-align: start;
}


.infoPost{
  position: absolute;
  width: 30%;
  right: 10%;
}
.CardHome {
  overflow: hidden;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  text-align: center;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Añadimos transform para la animación de elevación */
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  height: 100%;
  display: flex; /* Utilizamos flexbox */
  flex-direction: column; /* Los elementos hijos se alinearán en columna */
  justify-content: space-between; /* Distribuye los elementos a lo largo del eje principal con espacio entre ellos */
}
.CardHome:hover{
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4); /* Aumentamos la sombra para simular elevación */
  transform: translateY(-5px); /* Elevamos la tarjeta 5px hacia arriba */
}
.Comment {
  position: relative;
  width: 40%;
  right: 90px;
  bottom: 50px;
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Aplicamos la misma transición que en .CardHome */
}
.remark{
  justify-content: center;
  box-shadow: 0 4px 4px rgba(0,0,0,0.2);
  text-align: center;
  width: auto;
  height: auto;
  padding: 5px;
  border-radius: 20px;
  background-color: #6bc1b1;
  margin-bottom: 20px;
}
.half{
  width: 57%;
}
.rec{
  justify-content: center;
  box-shadow: 0 4px 4px rgba(0,0,0,0.2);
  text-align: center;
  height: auto;
  padding: 5px;
  border-radius: 15px;
  background-color: #ffffff;
}

.recc{
  justify-content: center;
  box-shadow: 0 4px 4px rgba(0,0,0,0.2);
  text-align: center;
  width: 260px;
  height: auto;
  padding: 5px;
  border-radius: 15px;
  background-color: #ffffff;
  margin-bottom: 20px;
}

.iniciar {
  background-color: #f1f5fa; /* Color de fondo del botón */
  color: rgb(0, 0, 0); /* Color del texto */
  box-shadow: 0 0 5px rgb(0 0 0 / 30%);
  border: none; /* Sin borde */
  padding: 10px 20px; /* Espaciado interno */
  font-size: 16px; /* Tamaño de fuente */
  cursor: pointer; /* Cursor al pasar */
  border-radius: 40px; /* Bordes redondeados */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Transición suave */
}
.iniciar h5{
  margin: 0px;
}

/* Cambiar color de fondo al pasar */
.iniciar:hover {
  background-color: #d9dee4; /* Nuevo color de fondo */
  transform: translateY(-3px); /* Elevación de 3px */
}

.registrarse {
  background-color: #007bff; /* Color de fondo del botón */
  color: white; /* Color del texto */
  box-shadow: 0 0 5px rgb(0 0 0 / 30%);
  border: none; /* Sin borde */
  padding: 10px 20px; /* Espaciado interno */
  font-size: 16px; /* Tamaño de fuente */
  cursor: pointer; /* Cursor al pasar */
  border-radius: 40px; /* Bordes redondeados */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Transición suave */
}
.registrarse h5{
  margin: 0px;
}

/* Cambiar color de fondo al pasar */
.registrarse:hover {
  background-color: #0056b3; /* Nuevo color de fondo */
  transform: translateY(-3px); /* Elevación de 3px */
}