html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
  background-color: #f5f3f3;
}
.conteiner
{
  flex-wrap: wrap;
}
.card
{
  width: 30%;
  overflow: hidden;
  float: left;
  margin: 20px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  text-align: center;
  cursor: pointer;
  
}
.card h3
{
  text-align: center;
}
.card img
{
  width: 70%;
  margin-left: 15%;
}
.imgPerfil
{
  width: 100px;
  height: 100px;
  border-radius: 60px;
  display: flex;
}
.pDescripcion
{
  word-wrap: break-word;
  justify-content: center;
}
.TituloCategoria
{
  text-align: center;
}
.ContainerCategoria
{
  flex-wrap: wrap;
}
.cardc{
  width: 33%;
  padding: 10px;
}
.CardCategoria
{
  overflow: hidden;
  box-shadow: 0 3px 3px rgba(0,0,0,0.2);
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: white;
  border-radius: 15px;
  height: 100%;
}
.CardCategoria:hover{
  background-color: #c4c4c4;
  text-decoration: none;
}
.containerConfig
{
  justify-content: center;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  text-align: center;
  width: auto;
  height: auto;
  padding: 1%;
  border-radius: 15px;
  background-color: #6bc1b1;
}
.containerConfig .imgPerfil
{
  position: absolute;
  width: 16%;
  height: 20%;
  border-radius: 60%;
  display: flex; 
  margin-top: 1%;
  margin-left: 2%;
}
.containerConfig  .editar
{
  position: absolute;
  width: 3%;
  height: 4%;
  display: flex;
  margin-left: 22%;
  margin-bottom: 100%;
  cursor: pointer;
}
.containerConfig .botonCambio
{
  position: relative;
  margin-top: 100%;
}
.botonB p{
  margin: 0px;
  padding: 0px;
}
.botonB
{
  display: flex;
  width: auto;
  background-color: #ff310d; /* Color de fondo del botón */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  padding: 5px 10px; /* Espaciado interno */
  font-size: 16px; /* Tamaño de fuente */
  cursor: pointer; /* Cursor al pasar */
  border-radius: 20px; /* Bordes redondeados */
  transition: background-color 0.3s ease; /* Transición suave */
}
.botonB:hover {
  background-color: #cc3217; /* Nuevo color de fondo */
}
.boton
{
  width: 100%;
  background-color: #6bc1b1; /* Color de fondo del botón */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  padding: 5px 10px; /* Espaciado interno */
  font-size: 16px; /* Tamaño de fuente */
  cursor: pointer; /* Cursor al pasar */
  border-radius: 20px; /* Bordes redondeados */
  transition: background-color 0.3s ease; /* Transición suave */
}
.boton:hover {
  background-color: #59a194; /* Nuevo color de fondo */
}
.Posteo
{
  justify-content: space-around;
  display: flex;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
  text-align: center;
  overflow: hidden;
  border-radius: 15px;
  background-color: #d1efec;
}
.Posteo .TopBar
{
  height: auto;
  width: 70%;
}
.Posteo h4{
  width: auto;
}
.Posteo .Descripcion{
  border-radius: 10px;
  width: 75%;
  text-align: left;
}
.Comentario{
  margin-top:10px;
  padding: 10px;
  border-radius: 15px;
  background-color:#d1efec;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  width: 100%;
  height: auto;
}
.Comentario p{
  margin: 0px;
  padding: 0px;
}
.flexer{
  display: flex;
  flex-wrap: wrap;
}
.centrar{
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
a{
  text-decoration: none;
  color: inherit;
}
.formu{
  width: 100%;
  justify-content: center;
  display: flex;
}
.divPerfilInt{
  display: flex;
  justify-content: space-between;
}
.div{
  width: 15%;
}
.descr{
  text-align: center;
  width: 75%;
}
.logout{
  width: 10%;
}
.with{
  width: 100%;
}
.informacion{
  display: flex;
  justify-content: space-between;
}
.informacionC{
  display: flex;
  justify-content: space-between;
}
.cuerpo{
  width: 90%;
}
.titulo{
  color: rgb(255, 255, 255);
}
.formulario {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: auto;
  text-align: center;
}

.formulario h3 {
  color: rgb(54, 54, 54);
}

.formulario input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.formulario button {
  width: 100%;
  background-color: #6bc1b1;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formulario button:hover {
  background-color: #55a89f;
}

.error{
  padding-top: 5px;
  margin: 5px;
}

.NoAccount{
  color: #007bff;
}

.recuadro{
  background-color: white;
  width: 100%;
  height: auto;
  padding: 20px;
  border-radius: 20Px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.justify{
  display: flex;
  justify-content: space-around;
}
.border{
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}
.wboton{
  width: 100%;
}
.LowBar{
  width: 20%;
}
.title{
  text-align: start;
}