USE [master]
GO
/****** Object:  Database [Aid Together]    Script Date: 7/11/2023 12:04:05 ******/
CREATE DATABASE [Aid Together]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Aid Together', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Aid Together.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Aid Together_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Aid Together_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Aid Together].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Aid Together]
GO
/****** Object:  User [alumno]    Script Date: 7/11/2023 12:04:05 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 7/11/2023 12:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Categorias] PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComentarioPosteos]    Script Date: 7/11/2023 12:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComentarioPosteos](
	[IdComentario] [int] IDENTITY(1,1) NOT NULL,
	[Cuerpo] [varchar](1000) NOT NULL,
	[Fecha] [date] NOT NULL,
	[IdUsuario] [varchar](50) NOT NULL,
	[IdPosteo] [int] NOT NULL,
 CONSTRAINT [PK_ComentarioPosteos] PRIMARY KEY CLUSTERED 
(
	[IdComentario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Foros]    Script Date: 7/11/2023 12:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Foros](
	[IdForo] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](50) NOT NULL,
	[Descripcion] [varchar](400) NOT NULL,
	[IdCategoria] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
 CONSTRAINT [PK_Foro] PRIMARY KEY CLUSTERED 
(
	[IdForo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perfiles]    Script Date: 7/11/2023 12:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfiles](
	[IdPerfil] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](300) NULL,
	[ImagenFondo] [image] NULL,
	[IdUsuario] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Perfiles] PRIMARY KEY CLUSTERED 
(
	[IdPerfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posteos]    Script Date: 7/11/2023 12:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posteos](
	[IdPosteo] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](200) NOT NULL,
	[Subtitulo] [varchar](400) NULL,
	[Descripcion] [varchar](400) NULL,
	[Cuerpo] [varchar](5000) NOT NULL,
	[IdUsuario] [varchar](50) NOT NULL,
	[IdForo] [int] NOT NULL,
 CONSTRAINT [PK_Posteos] PRIMARY KEY CLUSTERED 
(
	[IdPosteo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 7/11/2023 12:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [varchar](50) NOT NULL,
	[Contraseña] [varchar](50) NOT NULL,
	[Correo] [varchar](50) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Foto] [image] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ComentarioPosteos]  WITH CHECK ADD  CONSTRAINT [FK_ComentarioPosteos_Posteos] FOREIGN KEY([IdPosteo])
REFERENCES [dbo].[Posteos] ([IdPosteo])
GO
ALTER TABLE [dbo].[ComentarioPosteos] CHECK CONSTRAINT [FK_ComentarioPosteos_Posteos]
GO
ALTER TABLE [dbo].[ComentarioPosteos]  WITH CHECK ADD  CONSTRAINT [FK_ComentarioPosteos_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[ComentarioPosteos] CHECK CONSTRAINT [FK_ComentarioPosteos_Usuario]
GO
ALTER TABLE [dbo].[Foros]  WITH CHECK ADD  CONSTRAINT [FK_Foros_Categorias] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categorias] ([IdCategoria])
GO
ALTER TABLE [dbo].[Foros] CHECK CONSTRAINT [FK_Foros_Categorias]
GO
ALTER TABLE [dbo].[Perfiles]  WITH CHECK ADD  CONSTRAINT [FK_Perfiles_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Perfiles] CHECK CONSTRAINT [FK_Perfiles_Usuario]
GO
ALTER TABLE [dbo].[Posteos]  WITH CHECK ADD  CONSTRAINT [FK_Posteos_Foros] FOREIGN KEY([IdForo])
REFERENCES [dbo].[Foros] ([IdForo])
GO
ALTER TABLE [dbo].[Posteos] CHECK CONSTRAINT [FK_Posteos_Foros]
GO
ALTER TABLE [dbo].[Posteos]  WITH CHECK ADD  CONSTRAINT [FK_Posteos_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Posteos] CHECK CONSTRAINT [FK_Posteos_Usuario]
GO
/****** Object:  StoredProcedure [dbo].[EliminarComentario]    Script Date: 7/11/2023 12:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[EliminarComentario] @IdUsuario varchar(50),@IdComentario int
as
begin
delete from ComentarioPosteos where IdUsuario=@IdUsuario and IdComentario=@IdComentario
end;
GO
/****** Object:  StoredProcedure [dbo].[EliminarForo]    Script Date: 7/11/2023 12:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[EliminarForo] @IdUsuario varchar(50),@IdForo int
as
begin
delete from Foros where IdUsuario=@IdUsuario and IdForo=@IdForo
end;
GO
/****** Object:  StoredProcedure [dbo].[EliminarPosteo]    Script Date: 7/11/2023 12:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[EliminarPosteo] @IdUsuario varchar(50),@IdPosteo int
as
begin
delete from Posteos where IdUsuario=@IdUsuario and IdPosteo=@IdPosteo
end;
GO
/****** Object:  StoredProcedure [dbo].[EliminarUsuario]    Script Date: 7/11/2023 12:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[EliminarUsuario] @IdUsuario varchar(50)
as
begin
delete from Usuario where IdUsuario=@IdUsuario
end;
GO
/****** Object:  StoredProcedure [dbo].[InsertarComentario]    Script Date: 7/11/2023 12:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[InsertarComentario] @Cuerpo varchar(1000), @Fecha date, @IdUsuario varchar(50), @IdPosteo int
as
begin
INSERT INTO ComentarioPosteos VALUES (@Cuerpo, @fecha, @IdUsuario, @idposteo)
end;
GO
/****** Object:  StoredProcedure [dbo].[InsertarForo]    Script Date: 7/11/2023 12:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[InsertarForo] @idCategoria int,@Titulo varchar(50),@Descripcion varchar(400),@idUsuario varchar(50)
as 
begin
Insert into Foros values(@idCategoria,@Titulo,@Descripcion,@idUsuario)
end;
GO
/****** Object:  StoredProcedure [dbo].[InsertarPosteo]    Script Date: 7/11/2023 12:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[InsertarPosteo] @Titulo varchar(200), @Subtitulo varchar(400), @Descripcion varchar(400), @Cuerpo varchar(5000), @IdUsuario varchar(50), @IdForo int
as
begin
INSERT INTO Posteos VALUES (@Titulo, @Subtitulo, @Descripcion, @Cuerpo, @IdUsuario, @IdForo)
end;
GO
/****** Object:  StoredProcedure [dbo].[InsertarUsuario]    Script Date: 7/11/2023 12:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[InsertarUsuario] @IdUsuario varchar(50), @Contraseña varchar(50), @Correo varchar(50), @Nombre varchar(50), @Apellido varchar(50), @Foto varchar(400)
as
begin
INSERT INTO Usuario VALUES (@IdUsuario,@Contraseña,@Correo,@Nombre,@Apellido,@Foto)
INSERT INTO Perfiles VALUES ('','',SCOPE_IDENTITY())
end;
GO
/****** Object:  StoredProcedure [dbo].[MostrarComentariosPosteosASC]    Script Date: 7/11/2023 12:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[MostrarComentariosPosteosASC]
@idPosteo int
as
begin 
Select top(10)* from ComentarioPosteos where IdPosteo = @idPosteo order by Fecha asc
end;
GO
/****** Object:  StoredProcedure [dbo].[MostrarComentariosPosteosDESC]    Script Date: 7/11/2023 12:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[MostrarComentariosPosteosDESC]
@idPosteo int
as
begin 
Select top(10)* from ComentarioPosteos where IdPosteo = @idPosteo order by Fecha desc
end;
GO
/****** Object:  StoredProcedure [dbo].[MostrarForos]    Script Date: 7/11/2023 12:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[MostrarForos] @IdCategoria int
as
begin 
Select top(10)* from Foros where IdCategoria=@IdCategoria order by (select count(IdPosteo) from posteos where posteos.IdForo = Foros.IdForo)
end
GO
/****** Object:  StoredProcedure [dbo].[MostrarPerfil]    Script Date: 7/11/2023 12:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[MostrarPerfil] @idPersona varchar(50)
as
begin 
Select * from Perfiles where IdUsuario = @idPersona
end;
GO
/****** Object:  StoredProcedure [dbo].[MostrarPosteos]    Script Date: 7/11/2023 12:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[MostrarPosteos] @IdForo int 
as 
begin 
Select top(10)* from Posteos where IdForo=@IdForo order by (select count(IdComentario) from ComentarioPosteos where ComentarioPosteos.IdPosteo = Posteos.IdPosteo)
end
GO
/****** Object:  StoredProcedure [dbo].[MostrarUsuario]    Script Date: 7/11/2023 12:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[MostrarUsuario] @idPersona varchar(50)
as
begin 
Select * from Usuario where IdUsuario = @idPersona
end;
GO
/****** Object:  StoredProcedure [dbo].[UpdatearComentario]    Script Date: 7/11/2023 12:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[UpdatearComentario] @IdUsuario varchar(50),@cuerpo varchar(1000)
as
begin
update ComentarioPosteos set Cuerpo=@Cuerpo where IdUsuario=@IdUsuario
end;
GO
/****** Object:  StoredProcedure [dbo].[UpdatearPerfil]    Script Date: 7/11/2023 12:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[UpdatearPerfil] @IdUsuario varchar(50),@Descripcion varchar(300), @ImagenFondo varchar(400)
as
begin
update Perfiles set Descripcion=@Descripcion, ImagenFondo=@ImagenFondo where IdUsuario=@IdUsuario
end;
GO
/****** Object:  StoredProcedure [dbo].[UpdatearUsuario]    Script Date: 7/11/2023 12:04:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[UpdatearUsuario] @IdUsuario varchar(50),@Contraseña varchar(50), @Correo varchar(50), @Nombre varchar(50), @Apellido varchar(50), @Foto varchar(400)
as
begin
update Usuario set Contraseña=@Contraseña, Correo=@Correo, Nombre=@Nombre,Apellido=@Apellido,Foto=@Foto where IdUsuario=@IdUsuario
end;
GO
USE [master]
GO
