<p class = "TituloCategoria"> @ViewBag.ListForosXcategoria.Nombre</p>

<p> hola    </p>
@foreach(Foros c in ViewBag.ListForosXcategoria)
{
    <a href= '@Url.Action("Categorias", new {idCategoria = c.IdCategoria})'> 
<div class= "CardCategoria"> 

<h3>@c.Titulo </h3>
<img src= ""> 
<p>@c.Descripcion </p>

</div>
</a>
}

