<div class= "containerConfig"> 

<form>

<div class = "containerInputs">
<p> Nombre</p>
<img class = "editar" src="/img/editar-removebg-preview.png">
<input type="text" value ="Juan">
 
</div>

<div class = "containerInputs">
<p> Apellido</p>
<img class = "editar" src="/img/editar-removebg-preview.png"> 
<input type="text" value="Jose">

</div>

<div class = "containerInputs">
<p> Correo</p>
<img class = "editar" src="/img/editar-removebg-preview.png"> 
<input type="text" value="Juancito@gmail.com"> 
</div>

<div class = "containerInputs">
<p> Contraseña</p>
<img class = "editar" src="/img/editar-removebg-preview.png"> 
<input type="text" value="Jose el mejor">

</div>

<div class = "containerInputs">
<input type="checkbox"> Modo Oscuro 
</div>


<div>
<p>Foto perfil</p>
<img class = "editar" src="/img/editar-removebg-preview.png"> 
<img  class= "imgPerfil" src= "/img/persona.jpg">

</div> 

<div class="botonCambio">
<input type="submit" value="Guardar Cambios"> 
</div>
</form>



</div>