@{
    ViewData["Title"] = "Home Page";
}

@foreach(Foro f in ViewBag.ListarForos)
{
<a href= '@Url.Action("Posteos", new {idForo = f.IdForo})'>
<div class= "conteiner">
<div class = "card"> 
<h3>@f.Titulo </h3>
<img src= "">
<p>@f.Descripcion</p>
</div>
</div>
</a>
}










