<div class="containerConfig"> 
<form Action= 'Url.Action("IniciarSesion")' method= "get">


<div class = "Separador">
<div class = "containerInputs">

<input type="text"  placeholder = "Nombre">
</div>
<div class = "containerInputs">

<input type="text" placeholder= "Contraseña">
</div>

<div class = "containerInputs">
<button class="boton">Iniciar Sesion </button>
</div>
</form>
<div class = "containerInputs">
<a  href = '@Url.Action("Registrarse")'><button class="boton">Registrarse </button></a>
</div>
<div>

<div>