<div class="centrar">
    <div class="containerConfig"> 
        <form action= '@Url.Action("VerificarLogin")' method= "get" class="formulario">
            <h3>Iniciar Sesion</h3>
            <div class = "containerInputs">
                <input type="text"  placeholder="Usuario" name="IdUsuario" >
            </div>
            <div class = "containerInputs">
                <input type="password" placeholder="Contraseña" name="Contraseña" >
            </div>
            <div class = "containerInputs">
                <button type= "submit "class="boton">Iniciar Sesion</button>
            </div>
        </form>
        <p>@ViewBag.Error</p>
    </div>
</div>