<div class="centrar">
    <div class="containerConfig"> 
        <form action='@Url.Action("VerificarLogin")' method="get" class="formulario">
            <h3 class="titulo">Iniciar Sesi칩n</h3>
            <input type="text" placeholder="Usuario" name="IdUsuario">
            <input type="password" placeholder="Contrase침a" name="Contrase침a">
            <button type="submit" class="boton">Iniciar Sesi칩n</button>
        </form>
        <p>@ViewBag.Error</p>
    </div>
</div>