<div class= "containerPerfil">
    <div class="divPerfilInt">
        <div class="divPerfilInt">
            <img class = "imgPerfil" src ="@ViewBag.Perfil.Foto"> 
            <p>@ViewBag.Perfil.IdUsuario</p>
        </div>
        <div class="desc">
            <div class="descr">
                <p class="pDescripcion">@ViewBag.InfoPerfil.Descripcion </p>
            </div>
            <a href='@Url.Action'><img src = "img/log_out-removebg-preview.png"> </a>
        </div>
    </div>
<div>