<div class= "containerPerfil"> 

<img  class="imgFondoPerfil"   src= "/img/peron.jpg">
<img class = "imgPerfil" src ="/img/Persona.jpg"> 
<p>Juli Marchi</p>
<p class="pDescripcion"> jfbasifsafoiasfisafisafiasfgaifaisf9asgf9iafiyasiufasifgaifiuasfiuyasfuasufaoufsaofasfousafgousaoufgosaufougsafousaoufgusaofgousauogfasugfgousagfsagufgusafoasfoug</p>
<div>