<div class= "containerPerfil"> 

<img  class="imgFondoPerfil"   src= "/img/peron.jpg">
<img class = "imgPerfil" src ="/img/Persona.jpg"> 
<p>@ViewBag.Usuario.IdUsuario</p>
<p class="pDescripcion">@ViewBag.InfoPerfil.Descripcion </p>
<div>