<div class= "containerPerfil">
    <div class="divPerfilInt">
        <div class="divPerfilInt">
            <img class = "imgPerfil" src ="@ViewBag.Usuario.Foto"> 
            <p>@ViewBag.Usuario.IdUsuario</p>
        </div>
        <div class="desc">
            <div class="descr">
                <p class="pDescripcion">@ViewBag.InfoPerfil.Descripcion </p>
            </div>
        </div>
    </div>
<div>