<div class= "recuadro">
    <div class="divPerfilInt">
        <div class="div">
            <img class = "imgPerfil" src ="@ViewBag.Perfil.Foto"> 
            <h5>@ViewBag.Perfil.IdUsuario</h5>
        </div>
        <div class="descr">
            <p class="pDescripcion">@ViewBag.InfoPerfil.Descripcion </p>
        </div>
        <div class="logout">
            @if(ViewBag.Usuario != null)
            {
                if(ViewBag.Usuario.IdUsuario == ViewBag.InfoPerfil.IdUsuario)
                {
                    <a href='@Url.Action("Logout")'><button class ="botonB">Cerrar sesion </button> </a>
                }
            }
        </div>
    </div>
<div>