<div class= "containerPerfil">
    <div class="divPerfil">
        <img  class="imgFondoPerfilInt" src= "/img/peron.jpg">
        <div class="divPerfil">
            <img class = "imgPerfil" src ="@ViewBag.Usuario.Foto"> 
            <p>@ViewBag.Usuario.IdUsuario</p>
        </div>
    </div>
    <p class="pDescripcion">@ViewBag.InfoPerfil.Descripcion </p>
<div>