<div class="centrar">
    <div class="containerConfig">   
        <form Action= '@Url.Action("CargarUsuario")' method= "get" class="formulario">
            <div class="text-center">
                <h3>Registrarse</h3>
                <input name="IdUsuario" type="text" placeholder = "Nombre de Usuario" id="user" onchange="ValidateUser()" required>
                <span id="UserAlert" class="alert"></span>
                <input type="password" value="" name="Contraseña" placeholder="Contraseña" id="c1" onkeyup="ValidatePassword()" required>
                <span id="PasswordAlert" class="alert"></span>
                <input type="password" value="" placeholder="Repetir Contraseña" id="c2" onkeyup="ValidateRepeat()" required>
                <span id="RepeatAlert" class="alert"></span>
                <input type="email" value="" name="Correo" placeholder="Correo@correo.correo" id="mail" onkeyup="ValidateEmail()" required>
                <span id="MailAlert" class="alert"></span>
                <input name="Nombre" type="text" placeholder= "Nombre" id="name" onkeyup="ValidateName()" required>
                <span id="NameAlert" class="alert"></span>
                <input name="Apellido" type="text" placeholder= "Apellido" id="a" onkeyup="ValidateApellido()" required>
                <span id="ApellidoAlert" class="alert"></span>
                <input name="Foto" type="image" placeholder= "Foto" value="NULL">
                <button id="botonCrearUsuario" >Crear Usuario</button>
                <p class="error">@ViewBag.Error</p>
            <div>
        </form>
    </div>
</div>