<div class="containerConfig">   
<form Action= '@Url.Action("CargarUsuario")' method= "get">
    <div class = "Separador">
        <h4>Registrarse </h4>
        <div class = "containerInputs">
            <input name="IdUsuario" type="text" placeholder = "Nombre de Usuario" id="user" onkeyup="ValidateUser()" required>
            <span id="UserAlert" class="alert"></span>
        </div>
        <div class = "containerInputs">
            <label for="UserName">Contraseña</label>
            <input type="password" value="" name="Contraseña" placeholder="Contraseña" id="c1" onkeyup="ValidatePassword()" required>
            <span id="PasswordAlert" class="alert"></span>
        </div>
        <div class = "containerInputs">
            <label for="UserName">Repetir contraseña</label>
            <input type="password" value="" placeholder="Repetir Contraseña" id="c2" onkeyup="ValidateRepeat()" required>
            <span id="RepeatAlert" class="alert"></span>
        </div>
        <div class = "containerInputs">
            <label for="UserName">Correo</label>
            <input type="email" value="" name="Correo" placeholder="Correo@correo.correo" id="mail" onkeyup="ValidateEmail()" required>
            <span id="MailAlert" class="alert"></span>
        </div>
        <div class = "containerInputs">
            <input name="Nombre" type="text" placeholder= "Nombre" id="name" onkeyup="ValidateName()" required>
            <span id="NameAlert" class="alert"></span>
        </div>
        <div class = "containerInputs">
            <input name="Apellido" type="text" placeholder= "Apellido" id="a" onkeyup="ValidateApellido()" required>
            <span id="ApellidoAlert" class="alert"></span>
        </div>
        <div class = "containerInputs">
            <input name="Foto" type="image" placeholder= "Foto" value="NULL">
        </div>
        <div class = "containerInputs">
            <button class="boton" id="botonCrearUsuario" disabled>Crear Usuario</button>
        </div>
    <div>
</form>