<div class="containerConfig"> 
<form Action= 'Url.Action("IniciarSesion")' method= "get">


<div class = "Separador">
<div class = "containerInputs">
<input type="text"  placeholder = "Nombre">
</div>
<div class = "containerInputs">
<input type="text" placeholder= "Contraseña">
</div>
<div class = "containerInputs">
<input type="email"  placeholder = "Correo">
</div>
<div class = "containerInputs">
<input type="int" placeholder= "Telefono">
</div>

<div class = "containerInputs">
<button class="boton">Crear Usuario
 </button>
</div>
</form>


<div>