.navbar
{
  width: 100%;
  height: 100px;
  background-color: #6bc1b1;
  display: flex;
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
}

.sub-navbar
{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.fotito{
  width: 90px;
}

/* Estilos para el botón */
.iniciar {
  background-color: #f1f5fa; /* Color de fondo del botón */
  color: rgb(0, 0, 0); /* Color del texto */
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
  border: none; /* Sin borde */
  padding: 5px 10px; /* Espaciado interno */
  font-size: 16px; /* Tamaño de fuente */
  cursor: pointer; /* Cursor al pasar */
  border-radius: 20px; /* Bordes redondeados */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Transición suave */
}

/* Cambiar color de fondo al pasar */
.iniciar:hover {
  background-color: #d9dee4; /* Nuevo color de fondo */
  transform: translateY(-3px); /* Elevación de 3px */
}

.registrarse {
  background-color: #007bff; /* Color de fondo del botón */
  color: white; /* Color del texto */
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
  border: none; /* Sin borde */
  padding: 5px 10px; /* Espaciado interno */
  font-size: 16px; /* Tamaño de fuente */
  cursor: pointer; /* Cursor al pasar */
  border-radius: 20px; /* Bordes redondeados */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Transición suave */
}

/* Cambiar color de fondo al pasar */
.registrarse:hover {
  background-color: #0056b3; /* Nuevo color de fondo */
  transform: translateY(-3px); /* Elevación de 3px */
}

.barra{
  height: 5px;
  width: auto;
  background-color: white;
}

.titulo{
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
  transition: color 0.3s ease;
}

.titulo:hover{
  color: rgb(179, 177, 177);
}

.titulo:hover .barra{
  background-color: rgb(179, 177, 177);
}

.categoria {
  color: #777777;
  text-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  padding: 10px;
  transition: color 0.3s ease; /* Añadimos una transición para el cambio de color */
}

.categoria:hover {
  color: #666666;
  animation: sombra 3s ease; /* Iniciamos la animación al hacer hover */
}

@keyframes sombra {
  0% {
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  }
  100% {
    text-shadow: 0 0 50px rgba(0, 0, 0, 0.7);
  }
}

.idusuario{
  color: #6bc1b1;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
}

.space{
  margin-top: 10px;
}
.third{
  display: flex;
  width: 33.33%;
  justify-content: center;
}
.perfil{
  display: flex;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 15px;
  box-shadow: 0px 3px 3px rgb(0 0 0 / 40%);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.perfil:hover{
  box-shadow: 0px 5px 5px rgb(0 0 0 / 40%);
  transform: translateY(-3px);
}
.pfp{
  border-radius: 15px;
}

.footer{
  position: fixed;
  bottom: 0;
  right: 0;
}